*{
    padding: 0;
    margin: 0;
   
}
form{
    padding-top: 3%;
    
}
table{
    background-color: azure;
    border-radius: 30px;
    }
td{
      padding: 15px;
}    
.tdd{
    padding: 2%;
}
.tdd input{
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgb(85, 85, 219);
    border-top: none;
    border-left: none;
    border-right: none;

}
.subbtn{
    float: center; 
    height:50px;
    width: 150px;
    border:solid 1px rgb(85, 85, 219);
}
.subbtn:hover{
    background-color:rgb(85, 85, 219);
    color: white;
    border: none;
}
  