*{
    padding: 0;
    margin: 0;
   
}
body{
    background-image: url('https://i.redd.it/0bb6dqsiab451.gif');
    background-size: cover;
    background-repeat: no-repeat;
}
form{
    padding-top: 3%;
}
.t_one{
    
    color: white;
    border-radius: 30px;
    box-shadow: 0px 0px 40px 5px red;
    }
td{
      padding: 15px;
}    
.tdd{
    padding: 2%;
}

.tdd input{
    background-color: rgba(255, 255, 255, 0);
    border-bottom: 1px solid rgb(153, 10, 139);
    border-top: none;
    border-left: none;
    border-right: none;

}
.subbtn{
    float: center; 
    height:50px;
    width: 150px;
    border:solid 1px rgb(85, 85, 219);
}
.subbtn:hover{
    background-color:rgb(85, 85, 219);
    color: white;
    border: none;
}